<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>Flex Api Center</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" >Flex Api  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/cinema">Cinema </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/accounts">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/halls">Halls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/sessions">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/tickets">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<img alt="12" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1488982/1488982_original.jpg" title="12">
<p> Вся площадь возле кинотеатра заросла травой; она пробивается сквозь щели тяжелых бетонных плит. Здесь можно увидеть даже молодые тополя. На боковой стене кинотеатра сохранился барельеф с интересным абстрактным рисунком в стиле семидесятых годов, но на фото он не виден из-за зелени.</p>
<img alt="01" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1489205/1489205_original.jpg" title="01">
<p>А еще у нас вкуснейший попкорн</p>
<img alt="13" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1489642/1489642_original.jpg" title="13">
</body>
</html>