<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>Flex Api Center</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{header :: head}"></div>
<p>Кинотеатр Прометей -  один  из лучших кинотеатров сети Flex, он обрёл свою свою черезмерную популярность из-за сверхотзывчивого персонала из эльфиек</p>
<img alt="12" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1488982/1488982_original.jpg" title="12">
<p> Вся площадь возле кинотеатра заросла травой; она пробивается сквозь щели тяжелых бетонных плит. Здесь можно увидеть даже молодые тополя. На боковой стене кинотеатра сохранился барельеф с интересным абстрактным рисунком в стиле семидесятых годов, но на фото он не виден из-за зелени.</p>
<img alt="01" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1489205/1489205_original.jpg" title="01">
<p>А еще у нас вкуснейший попкорн</p>
<img alt="13" src="https://ic.pics.livejournal.com/maxim_nm/51556845/1489642/1489642_original.jpg" title="13">
<p>Кинотеатр находится под защитой лесных духов и имеет место для поклонения богине Акве. Все права защищены</p>
</body>
</html>