<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="head" class="navbar navbar-expand-md navbar-dark bg-dark mb-4" >
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/" >Flex Api  <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/cinema">Cinema </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/accounts">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/halls">Halls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/sessions">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/tickets">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://restapicinema.herokuapp.com/demo">Technology test</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>