<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Flex Api Center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{header :: head}"></div>
<main role="main">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, server!</h1>
        <p>Аpi Андрея счатливо видеть вас !</p>
        <p>Доступные команды:</p>
        <p>tableName/add?параметр=&параметр2=</p>
        <p>tableName/remove?id=</p>
        <a class="btn btn-primary" href="https://t.me/bergmah" role="button">Более подробно>></a>
    </div>
</div>
<footer class="container">
    <p>© Andrew 2020-2020</p>
</footer>
</main>
</body>
</html>